body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.navigation {
    list-style: none;
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
}

.navigation li {
    border-right: 1px solid #fff;
}

.navigation li a {
    padding: 0 16px;
    
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
}

.navigation li:last-child a {
    border: none;
}

.navigation li a:hover {
    color: green;
}

.main {
    min-height: 63vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid red;
    margin-bottom: 2px;
}

.side-right {
    flex: 75%;
}

.side-left {
    flex: 25%;
    background-color: gray;
}

.side-left a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.footer p {
    text-transform: uppercase;
    text-align: center;
}

.footer {
    width: 100%;
    border-top: 2px solid red;
    background-color: lightblue;
}

.side-left ul {
    list-style: none;
    padding: 0;
}

.side-left ul li:not(:last-child) {
    margin-bottom: 12px;
}

.side-left ul li {
    padding-left: 36px;
    line-height: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.side-left ul li a {
    transition: all 0.2s ease-in-out;
}
.side-left ul li:hover {
    background-color: #fff;
}

.side-left ul li:hover a {
    color: #333;
}

.navigation li {
    position: relative;
    line-height: 40px;
}

.navigation li:hover {
    background-color: #333;
    cursor: pointer;
}

.navigation {
    padding: 0;
    margin: 0;
}

.menu-child {
    padding: 0;
    list-style: none;
    display: none;
    transition: all 0.2s ease-in-out;
}

.navigation li:hover>.menu-child {
    display: block;
    position: fixed;
}

.menu-child {
    background-color: red;
}